.drop-down-container {
  font-weight: 600;

  @media only screen and (max-width: 1200px) {
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

.drop-down-menu {
  padding: 10px 50px;
  margin-left: 10px;
  font-weight: bold;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgb(0 0 0 / 6%);
  color: #333;
  border: none;
}
