.search-bar-container {
  margin-top: 40px;
}
.company-name-drop-down {
  display: flex;
  background-color: #71ccd2;
  padding: 30px;
}

.drop-down-container {
  flex: 1;
}

.sort-by-container {
  margin-right: 15%;
}
